<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name ="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Navigation"
        tools:targetApi="31"
        >
        <activity
            android:name=".SignUpActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity
            android:name=".DatiUtente"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity
            android:name=".Storico_generale"
            android:exported="false"
            android:enableOnBackInvokedCallback="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity
            android:name=".DatiAppuntamenti"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity
            android:name=".AppuntamentiTutti"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity
            android:name=".DatiDottore"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity
            android:name=".DatiSalute"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity
            android:name=".MedicineTutte"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>

        <activity android:name=".Profilo"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Medicina_x"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <receiver android:name=".NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>